html {
	
	background-position: 18px 18px !important;	
	
	font-family: source sans pro, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;*/
	
	font-size: 16px;
	line-height: 1.4;
	
	/*background: #fff url(img/il-grid-trans.png) top left repeat;
	
	font-weight: normal;	
	color: #222;*/
	
	background: #fff url(../img/ps-grid-trans.png) top left repeat;
	font-weight: bold;	
	color: #222;

	overflow: hidden;
}
}


body {
    font-family: 'Work Sans';font-size: 22px;
    margin: 0;
    padding: 0;}

/*
.title {
    font-size: 40pt;
}


#xcanvas{
  border: solid 1px black;
  width: 100% vw;
  height: 500px;
}
*/

/*.newnode {
	width: ;
}*/

/*#stage{
	background: rgba(22,22,105,.3);
	border: solid 1px black;
}*/

#s {
background-color:rgba(15,15,15,0.5);
border: dashed red 1px;

/**/
}

#container {
display: block;
background-color:rgba(200,200,15,0.2);
border: dashed black 3px ;
/*margin: 10px 0;*/
/*height: 100%;
width: 100%;*/
}

.btn {
	border: solid #cccccc 1px;
	border-radius: 9px;
	background-color: rgba(255,155,200,0.8);
}

#nodetext{
	font-size:25px;
	font-weight: 100;
  color: #101010;
	letter-spacing: -.06em
}
